.BackButton {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color:white;
    margin-left:20px;
    margin-top: 10px;
    padding-right: 10px;
    /* background: blue;
    border-radius: 5px; */
  }
  .Search{
    margin-top: 10px;
    margin-left: 20px;
  }

 .MenuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

   
  }
  
  .ToolbarContent {
    display: flex;
    align-items: center;
   
    
  }
