.ion-padding h1 {
   color: black;
   text-align: center;
   font-weight: bold;
 }
 
 .logo-container2 img {
   width: 100px;
   align-items: center;
   display: flex;
   justify-content: center;
 }
 
 .logo {
   max-width: 100%;
   max-height: 100%;
   margin-left: 90px;
 }
 
 .header h1 {
   color: white;
   font-size: 20px;
   text-transform: uppercase;
 }
 
 .button1 button {
   height: 40px;
   align-items: center;
   display: flex;
   justify-content: center;
   background-color: #001d3d;
   margin-left: 35px;
   margin-bottom: 20px;
   padding-left: 70px;
   padding-right: 80px;
   text-transform: uppercase;
   border-radius: 10px;
 }
 
 .IonCard {
   background-color: white;
 } 

 .BackButton {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  margin-left:5px;
  margin-top: 10px;
  padding-right: 10px;
  /* background: blue;
  border-radius: 5px; */
}
.Search{
  margin-top: 10px;
  margin-left: 20px;
}

.MenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.ToolbarContent {
  display: flex;
  align-items: center;
}

.avatarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.avatarLabel {
  margin-right: 5px;
}

.avatar {
  background: aliceblue;
}


