.backgroundContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.photoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 200px;
  height: auto;
}

.buttonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 3rem;
}

.transparentButton {
  width: 90%;
  --background: transparent;
  --color: #ff0000;
  margin-bottom: 1rem;
}